.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 1rem;
}

.productListWrapper {
  display: flex;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
}

.listCardWrapper {
  display: flex;
  width: 100%;
  padding: 0;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
}

.icon {
  cursor: pointer;
}

.title {
  text-transform: uppercase;
  margin-bottom: 0;
}

.listLayout {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1rem;
}

.cardList {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  border: 0.5px solid #c5c5c5;
  padding-right: 1.5rem;
  border-radius: 5px;
}

.image {
  height: 80px;
  max-width: 100%;
  border-radius: 4px 0px 0px 4px;
}

.product {
  display: flex;
  flex-direction: column;
}

.productName {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1rem;
}

.priceWrapper {
  display: flex;
  justify-content: space-between;
}

.productPrice {
  margin-right: 2rem;
}

@media (min-width: 640px) {
}

/* Medium (md) */
@media (min-width: 768px) {
  .listCardWrapper {
    width: 100%;
  }

  .productListWrapper {
    flex-wrap: nowrap;
  }
}

/* Large (lg) */
@media (min-width: 1024px) {
  .listCardWrapper {
    width: 100%;
  }
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
  .wrapper {
    flex-direction: row;
  }

  .listCardWrapper {
    width: 50%;
  }
}
