html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* had to do this to override antd styling */
.ant-layout-sider {
  background: #fff !important;
}

.ant-card-body {
  width: 100%;
}

.ant-menu-item-selected {
  color: #333 !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: #d2d2d2 !important;
}

.rdrDefinedRangesWrapper .rdrStaticRangeSelected {
  font-weight: bolder !important;
}

/* .rdrStaticRange:hover .rdrStaticRangeLabel,
.rdrStaticRange:focus .rdrStaticRangeLabel {
  font-weight: bolder im !important;
} */
